<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPSApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SPSApp1.My.MySettings.SPSConnectionString" connectionString="Data Source=DESKTOP-MO83SL9\SQLEXPRESS;Initial Catalog=SPS;Persist Security Info=True;User ID=sa;Password=admin01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SPSApp1.My.MySettings>
            <setting name="UserNameMC1" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC2" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC3" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC4" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC5" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC6" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC7" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC8" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC9" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC10" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC11" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC12" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC13" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC14" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC1" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC2" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC3" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC4" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC5" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC6" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC7" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC8" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC9" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC10" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC11" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC12" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC13" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC14" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC1" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC2" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC3" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC4" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC5" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC6" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC7" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC8" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC9" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC10" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC11" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC12" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC13" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC14" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC1" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC2" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC3" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC4" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC5" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC6" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC7" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC8" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC9" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC10" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC11" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC12" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC13" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC14" serializeAs="String">
                <value />
            </setting>
            <setting name="CycleTimeMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartTimeMC1" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC2" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC3" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC4" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC5" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC6" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC7" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC8" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC9" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC10" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC11" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC12" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC13" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC14" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC1" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC2" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC3" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC4" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC5" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC6" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC7" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC8" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC9" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC10" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC11" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC12" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC13" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC14" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC1" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC2" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC3" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC4" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC5" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC6" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC7" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC8" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC9" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC10" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC11" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC12" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC13" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC14" serializeAs="String">
                <value />
            </setting>
            <setting name="CavQtyPn1MC1" serializeAs="String">
                <value />
            </setting>
            <setting name="CavQtyPn1MC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserNameMC15" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC16" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC17" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC18" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameMC19" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC15" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC16" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC17" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC18" serializeAs="String">
                <value />
            </setting>
            <setting name="UserIDMC19" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC15" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC16" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC17" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC18" serializeAs="String">
                <value />
            </setting>
            <setting name="JOCodeMC19" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC15" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC16" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC17" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC18" serializeAs="String">
                <value />
            </setting>
            <setting name="MoldNoMC19" serializeAs="String">
                <value />
            </setting>
            <setting name="CycleTimeMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleTimeMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartTimeMC15" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC16" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC17" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC18" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTimeMC19" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC15" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC16" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC17" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC18" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo1MC19" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC15" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC16" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC17" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC18" serializeAs="String">
                <value />
            </setting>
            <setting name="PartNo2MC19" serializeAs="String">
                <value />
            </setting>
            <setting name="CavQtyPn1MC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn1MC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CavQtyPn2MC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn1MC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OuputPn2MC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanPrdTimeMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualRunTMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPlanDTMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlanQtyMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualQtyMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RejecQtyMC19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQLPath" serializeAs="String">
                <value>Data Source=DESKTOP-MO83SL9\SQLEXPRESS;Initial Catalog=SPS;Persist Security Info=True;User ID=sa;Password=admin01</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>169.254.204.70</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
        </SPSApp1.My.MySettings>
    </userSettings>
</configuration>